<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test1">
    <classes>
     
      <class name="I_API_Chaining.CreateUser"/>
      
    </classes>
  </test> <!-- Test -->
  

  <test thread-count="5" name="Test2">
    <classes>
    
      <class name="I_API_Chaining.Get_Usersdata"/>
      
    </classes>
  </test> 
  
  <test thread-count="5" name="Test3">
    <classes>
     
      <class name="I_API_Chaining.UpdateUser"/>
      
    </classes>
  </test> 
  
  <test thread-count="5" name="Test4">
    <classes>

      <class name="I_API_Chaining.DeleteUser"/>
     
    </classes>
  </test> <!-- Test -->
  
 
</suite> <!-- Suite -->
